In [7]:
import pandas as pd

employee = pd.DataFrame({'id': [1,2,3], 'salary': [0,0,1]})  # Replace with your data

In [11]:
salaries_ranked = employee['salary'].rank(method='dense',ascending=False)
salaries_ranked

0    2.0
1    2.0
2    1.0
Name: salary, dtype: float64

In [12]:
  df_temp = pd.DataFrame({'salary': employee['salary'], 'rank': salaries_ranked})
  sorted_df = df_temp.sort_values(by=['rank', 'salary'], ascending=[True, False])
  sorted_df

   salary  rank
2       1   1.0
0       0   2.0
1       0   2.0

In [21]:
  df_temp = pd.DataFrame({'salary': employee['salary'], 'rank': salaries_ranked})
  sorted_df = df_temp.sort_values(by=['rank', 'salary'], ascending=[True, False])

  # Check if there are at least 2 unique salary values
  if len(sorted_df) >= 2 and len(sorted_df['rank'].unique()) >= 2:
    # Get the second element (considering ties)
    second_highest_salary = sorted_df[sorted_df['rank'] == 2][['salary']]
    second_highest_salary.columns = ['SecondHighestSalary']
    second_highest_salary= second_highest_salary.drop_duplicates()
  else:
    # No second highest salary, create DataFrame with None
    second_highest_salary = pd.DataFrame(columns=['SecondHighestSalary'])
    second_highest_salary.loc[0, 'SecondHighestSalary'] = None

second_highest_salary

   SecondHighestSalary
0                    0

In [23]:
def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    salaries_ranked = employee['salary'].rank(method='dense',ascending=False)
    df_temp = pd.DataFrame({'salary': employee['salary'], 'rank': salaries_ranked})
    sorted_df = df_temp.sort_values(by=['rank', 'salary'], ascending=[True, False])
      # Check if there are at least 2 unique salary values
    if len(sorted_df) >= 2 and len(sorted_df['rank'].unique()) >= 2:
    # Get the second element (considering ties)
        second_highest_salary = sorted_df[sorted_df['rank'] == 2][['salary']]
        second_highest_salary.columns = ['SecondHighestSalary']
        second_highest_salary= second_highest_salary.drop_duplicates()
    else:
    # No second highest salary, create DataFrame with None
        second_highest_salary = pd.DataFrame(columns=['SecondHighestSalary'])
        second_highest_salary.loc[0, 'SecondHighestSalary'] = None
    return second_highest_salary

second_highest_salary(employee)

   SecondHighestSalary
0                    0

In [48]:
def nth_highest_salary(employee: pd.DataFrame, n: int) -> pd.DataFrame:
  if 'salary' not in employee.columns:
    raise ValueError("DataFrame must contain a 'salary' column")
  if n <= 0:
    raise ValueError("n must be a positive integer")

  salaries_ranked = employee['salary'].rank(method='dense', ascending=False)
  df_temp = pd.DataFrame({'salary': employee['salary'], 'rank': salaries_ranked})
  sorted_df = df_temp.sort_values(by=['rank', 'salary'], ascending=[True, False])
  
  if len(sorted_df) >= n and len(sorted_df['rank'].unique()) >= n:
    getNth_highest_salary = sorted_df[sorted_df['rank'] == n][['salary']]
    data = {f'getNthHighestSalary({n})': getNth_highest_salary['salary'].tolist()}
    getNth_highest_salary = pd.DataFrame(data, index=[0])
  else:
    col_name = 'getNthHighestSalary'
    getNth_highest_salary = pd.DataFrame({col_name: None})

  return getNth_highest_salary

nth_highest_salary(employee,4)

ValueError: If using all scalar values, you must pass an index

In [47]:
salaries_ranked = employee['salary'].rank(method='dense',ascending=False)
df_temp = pd.DataFrame({'salary': employee['salary'], 'rank': salaries_ranked})
sorted_df = df_temp.sort_values(by=['rank', 'salary'], ascending=[True, False])

sorted_df

   salary  rank
2       1   1.0
0       0   2.0
1       0   2.0

In [46]:
getNth_highest_salary = sorted_df[sorted_df['rank'] == 4][['salary']]
len(sorted_df) >= 4

False

In [41]:
data = {f'getNthHighestSalary({n})': getNth_highest_salary['salary'].tolist()}
#getNth_highest_salary = pd.DataFrame(data, index=[0])

NameError: name 'n' is not defined